body {
  margin:0;
  font-family: Arial Black;
  background:#0b0f1a;
  color:white;
  text-align:center;
}

#startScreen {
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:#070812;
}

button {
  padding:14px 20px;
  border:none;
  border-radius:12px;
  background:linear-gradient(45deg,#00f0ff,#8a2be2);
  color:white;
}

canvas {
  margin-top:20px;
  background:black;
  width:90vw;
  height:50vh;
}
